body {
    font-family: Arial, sans-serif;
}

#taskt-list {
    list-style: none;
    padding: 0;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
}